@import "tailwindcss";
@tailwind utilities;

body {
  background-color: black;
}
html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@theme inline {
  --font-epilogue : 'Epilogue', sans-serif;
  --font-montserrat : 'Montserrat', sans-serif;
}

@theme {
  --breakpoint-xs: 375px;
}