@import "tailwindcss";
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body {
  background-color: black;
}
html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@theme inline {
  --font-epilogue : 'Epilogue', sans-serif;
  --font-montserrat : 'Montserrat', sans-serif;
}

@theme {
  --breakpoint-xs: 425px;
}

.react-tabs__tab--selected{
  background: none !important;
  color: white !important;
  border-bottom: 2px solid white !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}